<html>

<head>
    <title>Stakeholder Analysis</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
    <h1 id="title">
        {{ title }}
    </h1>
    <div id="app-2">
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="stakeholder in stakeholderlist" v-bind:class="stakeholder.color">
                    <td>
                        <input type="text" v-model="stakeholder.name" placeholder="stakeholder name" v-bind:class="{ error: stakeholder.name == '' }">
                    </td>
                    <td>
                        <input type="text" v-model="stakeholder.description" placeholder="description" v-bind:class="{ error: stakeholder.description == '' }">
                    </td>
                    <td>
                        <select v-model="stakeholder.power" v-bind:class="{ error: stakeholder.power == '' }">
                            <option disabled value="">power</option>
                            <option>very low</option>
                            <option>low</option>
                            <option>low-med</option>
                            <option>med</option>
                            <option>med-high</option>
                            <option>high</option>
                            <option>very high</option>
                        </select>
                    </td>
                    <td>
                        <select v-model="stakeholder.interest"  v-bind:class="{ error: stakeholder.interest == '' }">
                            <option disabled value="">interest</option>
                            <option>very low</option>
                            <option>low</option>
                            <option>low-med</option>
                            <option>med</option>
                            <option>med-high</option>
                            <option>high</option>
                            <option>very high</option>
                        </select>
                    </td>
                    <td>
                        <select v-model="stakeholder.color"  v-bind:class="{ error: stakeholder.color == '' }">
                            <option disabled value="">color</option>
                            <option>green</option>
                            <option>orange</option>
                            <option>red</option>
                        </select>
                    </td>
                    <td>
                    <button @click="removeRow(stakeholder)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <button @click="addNewStakeholder">Add</button>
    </div>

    <script>
        var app = new Vue({
            el: '#title',
            data: {
                title: 'Welcome to the Stakeholder Analysis App'
            }
        })

        var app2 = new Vue({
            el: '#app-2',
            data: {
                stakeholderlist: [],
                nextStakeholderId: 1
            },
            methods: {
                addNewStakeholder: function () {
                    this.stakeholderlist.push({
                        id: "",
                        name: "",
                        description: "",
                        power: "",
                        interest: "",
                        color: ""
                    })
                },
                removeRow: function (stakeholder) {
                    var index = this.stakeholderlist.indexOf(stakeholder)
                    this.stakeholderlist.splice(index, 1);
                }
            }
        })
    </script>
</body>

</html>