<html>

<head>
    <title>Vue Tutorial Samples</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
    <h1 id="title">
        {{ title }}
    </h1>
    <div id="app-2">
        <input
            v-model="newStakeholder"
            v-on:keyup.enter="addNewStakeholder"
            placeholder="Add a stakeholder"
        >
        <input
            v-model="newStakeholderDescription"
            v-on:keyup.enter="addNewStakeholder"
            placeholder="Add a description"
        >
        <select v-model="newStakeholderPower">
            <option disabled value="">Please select power</option>
            <option>very low</option>
            <option>low</option>
            <option>low-med</option>
            <option>med</option>
            <option>med-high</option>
            <option>high</option>
            <option>very high</option>
        </select>
        <select v-model="newStakeholderInterest">
            <option disabled value="">Please select interest</option>
            <option>very low</option>
            <option>low</option>
            <option>low-med</option>
            <option>med</option>
            <option>med-high</option>
            <option>high</option>
            <option>very high</option>
        </select>

        <button @click="addNewStakeholder">Add</button>
        <stakeholder-item
            v-for="stakeholder in stakeholderlist"
            v-bind:stakeholder="stakeholder"
            v-bind:key="stakeholder.id"/>
    </div>

    <script>
        // Define a new component called stakeholder-item
        Vue.component('stakeholder-item', {
            props: ['stakeholder'],
            template: '<div class="stakeholderlist">{{ stakeholder.name }} {{ stakeholder.description }} {{ stakeholder.power }} {{ stakeholder.interest }}</div>'
        })

        var app = new Vue({
            el: '#title',
            data: {
                title: 'Welcome to the Stakeholder Analysis App'
            }
        })

        var app2 = new Vue({
            el: '#app-2',
            data: {
                stakeholderlist: [
                ], 
                nextStakeholderId: 1 
            },
            methods: {
                addNewStakeholder: function () {
                this.stakeholderlist.push({
                    id: this.nextStakeholderId++,
                    name: this.newStakeholder,
                    description: this.newStakeholderDescription,
                    power: this.newStakeholderPower,
                    interest: this.newStakeholderInterest
                })
                this.newStakeholder = ''
                this.newStakeholderDescription = ''
                this.newStakeholderPower = ''
                this.newStakeholderInterest = ''
                }
            }
        })
    </script>
</body>

</html>